// Copyrigmt (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 1
#define LOWER   0
#define RAISE   2
#define GAME    3

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        CbShft {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <13 12>;
            timeout-ms = <25>;
            slow-release;
            layers = <0>;
        };

        CbCtrl {
            bindings = <&sk LEFT_CONTROL>;
            key-positions = <12 11>;
            timeout-ms = <25>;
            slow-release;
            layers = <0>;
        };

        CbAlt {
            bindings = <&sk LEFT_ALT>;
            key-positions = <10 11>;
            timeout-ms = <25>;
            slow-release;
            layers = <0>;
        };

        CbGui {
            bindings = <&sk LEFT_GUI>;
            key-positions = <13 10>;
            timeout-ms = <25>;
            slow-release;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P            &kp PERIOD    &kp J      &kp L          &kp U  &kp Y  &kp SQT
&kp A  &kp R  &kp S  &kp T            &kp G         &kp M      &kp N          &kp E  &kp I  &kp O
&kp Z  &kp X  &kp C  &kp D            &kp V         &kp COMMA  &kp H          &kp B  &kp K  &kp TAB
                     &lt LOWER ENTER  &kp SPACE     &kp BSPC   &lt RAISE DEL
            >;
        };

        nav_layer {
            bindings = <
&kp ESC    &kp AT    &kp UARW  &kp UNDER  &tog GAME    &kp AMPS   &kp N7  &kp N8  &kp N9  &kp ASTRK
&kp LSHFT  &kp LARW  &kp DARW  &kp RARW   &kp ENTER    &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp N0
&kp CAPS   &kp LBRC  &kp RBRC  &kp LBKT   &kp RBKT     &kp MINUS  &kp N1  &kp N2  &kp N3  &kp BSLH
                               &trans     &trans       &trans     &trans
            >;
        };

        sym_layer {
            bindings = <
&kp F1     &kp F2    &kp F3     &kp F4     &kp F5        &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&kp LSHFT  &kp PLUS  &kp HOME   &kp END    &tog EXCL     &kp HASH      &kp LPAR      &kp RPAR      &kp FSLH      &kp SEMI
&kp F11    &kp F12   &kp CARET  &kp GRAVE  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
                                &trans     &trans        &trans        &trans
            >;
        };

        game_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │    Q     │   W      │   E      │   R      │   │          │          │          │          │  RESET   │
           &kp ESC     &kp Q     &kp W      &kp E      &kp R           &trans    &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│   SHFT   │    A     │   S      │   D      │    F     │   │          │          │          │          │BOOTLOADER│
            &kp LSHFT    &kp A     &kp S      &kp D       &kp F         &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│   CTRL   │   Z      │     X    │    C     │    V     │   │          │          │          │          │          │
            &kp LCTRL  &kp Z        &kp X     &kp C      &kp V          &trans     &trans     &trans     &trans    &to DEFAULT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp LALT   &kp SPACE       &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

            >;
        };
    };
};
